@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Rakkas", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Libre Bodoni", serif;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.clothing {
  background-image: url(../images/Orange.png);
  background-size: cover;
  height: 100vh;
}
.header {
  background-color: #031424;
  color: white;
  height: 60px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  align-items: center;
  display: grid;
  font-size: 15px;
}
.header-two {
  font-family: "Rakkas", serif;
  color: white;
  padding-top: 15px;
}
.header-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heading h1 {
  color: white;

  font-size: 22px;
}
.heading a {
  text-decoration: none;
  font-size: 22px;
}

.menubar ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 36px;
  font-family: "Poppins", sans-serif;
}
.menubar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.menubar a:hover {
  color: black;
  font-weight: 700;
}
.menubar .active {
  color: black;
  font-weight: 700;
}
.menubar i {
  font-weight: 500;
}
.icons {
  justify-content: space-between;
  display: flex;
  gap: 20px;
  align-items: center;
}
.icons a i {
  border-left: 1px solid black;
  padding-left: 15px;
  color: white;
}
.icons .heart_icon{
  border-left: none;
}

.best {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  padding: 20px;
  margin-top: 40px;
}
.best h1 {
  font-size: 100px;
  color: #311c1c;
  margin-top: 50px;
  font-style: oblique;
}
.best span {
  opacity: 100%;
  color: #311c1c;
  margin-left: 50px;
  font-weight: 600;
}
.best p {
  cursor: pointer;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid white;
  max-width: max-content;
  text-align: center;
}

/* NEW ARRIVALS */
/* .images{
    display: grid;
   
}
.images{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}
.images img{
    width: 100%;
}
.wrap .imgtwo{
    width: 100%;
    margin-bottom: 10px;
}
.new{
   padding: 30px 0;
    text-align: left;
    font-size: 20px;
}
.coats,.purses, .Accessories{
    position: absolute;
    font-family: "Libre Bodoni", serif;
    bottom: 10px;
} */

.new-arrivals h5 {
  padding: 40px 0;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.texts {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-family: "Libre Bodoni", serif;
}
.single {
  width: 100%;
 
}
.wrap {
  width: 100%;
}
.Coats {
  background-image: url(../images/Clothingone.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 725px;
  border-radius: 10px;
  align-items: end;
  display: flex;
  padding: 20px;
}
.purses {
  background-image: url(../images/purse.png);
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  align-items: end;
  display: flex;
  padding: 20px;
}
.accessories {
  background-image: url(../images/Rectangle\ 182.png);
  height: 360px;
  background-size: cover;
  margin-top: 15px;
  border-radius: 10px;
  align-items: end;
  display: flex;
  padding: 20px;
}
.best-seller {
  text-align: center;
}
.wrapped {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
  text-align: left;
  width: 100%;
  align-items: center;
  align-content: center;
}
.bar {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  display: flex;
  justify-content: center;
   margin: 25px;
}
.best-seller-two :nth-child(1) {
  color: #031424;
  font-weight: 600;
}
.bar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
  margin-bottom: 5px;
}
.bar ul li a {
  text-decoration: none;
  color: rgb(153, 152, 152);
  font-size: 18px;
}
.bar ul li a:hover {
  color: black;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
.best li a {
  color: black !important;
}
h2 {
  opacity: 50%;
  font-size: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.content .one h3 {
  color: #ff6669;
  border-bottom: 1px solid grey;
  opacity: 100%;
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 10px;
}
span {
  color: black;
  opacity: 50%;
  padding: 10px;
}
h4 {
  opacity: 50%;
  font-size: 15px;
  margin-top: 10px;
}

.addtocart {
  box-sizing: border-box;
  align-items: center;
  left: 158px;
  bottom: 29px;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.imgone {
  position: relative;
  overflow: hidden;
}
.imgone img {
  width: 100%;
  height: 100%;
}
.productname {
  cursor: pointer;
  margin-top: 10px;
}
.addtocart {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black; /* Semi-transparent background */
  color: #fff;
  text-align: center;
  padding: 20px;
  opacity: 0; /* Hidden by default */
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease; /* Smooth transition */
}
.fal {
  cursor: pointer;
}

.imgone:hover .addtocart {
  opacity: 1; /* Show on hover */
  visibility: visible; /* Make it visible */
}
.one {
  margin-bottom: 40px;
  width: 100%;
}
.cart {
  display: flex;
  justify-content: space-between;
}
.cart i:nth-child(2) {
  box-sizing: border-box;
  border: 1px solid grey;
  text-align: center;
  padding: 8px 8px;
  /* margin: 2px 3px; */
  padding-top: 5px;
  opacity: 30%;
  border-radius: 5px;
}
.button {
  margin-top: 20px;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
}
.button a {
  border: 1px solid black;
  box-sizing: border-box;
  text-align: center;
  color: aliceblue;
  background-color: black;
  text-decoration: none;
  padding: 10px 16px;
  font-size: 12px;
}

.why-people {
  text-align: center;
  margin-top: 60px;
  background-color: #f7f7f7;
}
.why-people h1 {
  font-size: 49px;
  margin-bottom: 40px;
  padding-top: 80px;
  font-weight: 800;
}
.wrapped {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.star-one i {
  background-color: #ffb700;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 50%;
  color: #f7f7f7;
  font-size: 25px;
}
.star-one h2 {
  opacity: 100%;
  font-family: "Libre Bodoni", serif;
  font-size: 20px;
  margin-top: 20px;
}
.star-one p {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 80px;
}
/*  */
.subscribe {
  text-align: center;
  margin: 90px;
}
.subscribe h1 {
  font-size: 45px;

  font-weight: 800;
}
.subscribe p {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.subscribe input {
  padding: 14px;
  border: none;
  width: 300px;
}
.wrapper {
  display: flex;
}
input:focus {
  border: none;
  outline: none;
}
.subscribe a {
  box-sizing: border-box;
  text-decoration: none;
  background-color: #311c11;
  color: #f7f7f7;
  font-size: 15px;
  padding: 13px 38px;
}
.buttonarea {
  border: 1px solid black;
  width: 415px;
  margin: 35px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  */
.last p {
  opacity: 50%;
}
.last h1 {
  font-family: "Rakkas", serif;
  font-size: 35px;
  font-weight: 400;
  text-transform: uppercase;
}
.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.text-two {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}
.last {
  padding-top: 60px;
  background-color: #fafafb;
  border-bottom: 8px solid black;
  padding-bottom: 50px;
}
.shop ul li,
.information ul li,
.company ul li {
  list-style: none;
  font-family: "Mulish", sans-serif;
}
.last p {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline;
}
.last input {
  padding: 8px 2px;
}
.last a {
  box-sizing: border-box;
  text-decoration: none;
  background-color: #311c11;
  padding: 3px 0;
  color: #f7f7f7;
  padding-right: 45px;
  font-size: 12px;
  display: flex;
}
.last h5 {
  font-weight: 800;
  font-family: "Mulish", sans-serif;
}
.box {
  font-size: 12px;
  text-wrap: nowrap;
  font-weight: 600;
}
.information {
  font-size: 12px;
  text-wrap: nowrap;
  font-weight: 600;
}
.company {
  font-size: 12px;
  text-wrap: nowrap;
  font-weight: 600;
}
.footer {
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  margin: 8px;
}
/* footer */
.lastportion {
  background-color: #fafafb;
  border-bottom: 2px solid grey;
  padding: 20px;
}
.lastportion h1 {
  font-family: "Rakkas", serif;
  font-size: 31px;
  font-weight: 400;
  color: black;
  cursor: pointer;
}
.lastportion .container .row .col .everything {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  font-family: Mulish;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
}
.lastportion .container .row .col .everything .heading {
  line-height: 35px;
  font-size: 13px;
}
.lastportion .container .row .col .everything p {
  cursor: pointer;
}
.lastportion input {
  padding: 13px 18px;
  border: 1px solid black;
}
.lastportion a {
  box-sizing: border-box;
  text-decoration: none;
  background-color: black;
  padding: 13px 13px;
  color: #f7f7f7;
  font-size: 13px;
  border: none;
}
.lastportion h5 {
  font-size: 15px;
}
.fbicons {
  display: flex;
  justify-content: space-around;
  gap: 14px;
  margin-top: 20px;
  box-shadow: black;
}
.iconcontainer {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.fbicons a {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0 0;
  color: #f7f7f7;
  font-size: 13px;
  border: none;
  background-color: transparent;
}
.iconcontainer i {
  font-size: 16px;
  color: grey;
}

/* I pad pro */
@media (max-width: 1024px) {
  .clothing {
    height: 44vh;
  }
  .header-two {
    justify-content: space-around !important;
  }
  .best {
    height: 30vh !important;
    padding: 62px !important;
  }
  .best h1 {
    font-size: 85px;
    margin-top: 0;
  }
  .new-arrivals {
    padding: 0 25px !important;
  }
  .content {
    width: 100% !important;
  }
  .wrapped {
    width: 100% !important;
    padding: 20px;
  }
  .footer {
    margin: 8px 28px;
  }
}
@media (max-width:992px){
   .clothing {
    height: 44vh;
  }
  .header-two {
   padding: 0 11px;
   text-align: center;
  }
  .heading h1{
    font-size: 18px;
  }
  .menubar ul{
    gap: 20px;
  }
  .menubar ul li a{
    font-size: 15px;
  }
  .best {
    height: 30vh !important;
    padding: 52px !important;
  }
  .best h1 {
    font-size: 70px;
    margin-top: 0;
  }
  .wrapped{
    padding: 20px;
  }
}